<%
var commentMap = { audio: 'Listen to', text: 'Read', video: 'Watch' };
%>
<%- include('../../include/header') %>
<%- include('../../include/logo-header') %>

<table class="row" style="border-top:1px solid #CCC;">
  <tr>
    <td class="center" align="center">
      <center>

        <table class="container">
          <tr>
            <td class="wrapper last">
              <table class="twelve columns">
                <tr>
                  <td class="text-pad">

                    <strong>Howdy Steve</strong><br/>
                    People have been busy since you last have been to this VoiceThread. Tap on a contributor to find out what they shared!

                  </td>
                  <td class="expander"></td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </center>
    </td>
  </tr>
</table>

<table class="row" style="background-color: #f7f7f7; border-top: 1px solid #c1c1c1;">
  <tr><td>
    <table class="container">
      <tr><td class="wrapper last">
        <table class="twelve columns">
          <tr>
            <td>
            <h1></h1>
            <% comments.forEach(function(comment) { %>
              <table class="new-comment">
                <tr>
                  <td class="avatar-cont" style="width: 75px !important;">
                    <a href="">
                      <img style="display: block" src="<%= comment.avatarUrl %>" alt="">
                    </a>
                  </td>
                  <td class="meta-cont">
                    <a href="" class="muted-link">
                      <div class="comment-title">
                        <%= comment.type === 'audio' ? 'Listen to '+comment.name : ''   %>
                        <%= comment.type === 'video' ? 'Watch '+comment.name  : '' %>
                        <%= comment.type === 'text' ? 'Read '+comment.name + '\'s comment'  : '' %>
                      </div>
                    </a>
                    <div class="comment-subtitle">on <strong><%= title %></strong> at <%= comment.creation %></div>
                  </td>
              </tr>
            </table>
            <% }); %>
          </td><td class="expander"></td></tr>
        </table> 
      </td></tr>
    </table>    
  </td></tr>
</table>

<table class="row" style="border-top: 1px solid #c1c1c1;">
  <tr><td>
    <table class="container">
      <tr><td class="wrapper last">
        <table class="twelve columns">
          <tr>
            <td class="center">
              <center>
                <div class="notification-link">
                  <a style="color: red !important;" href="">Stop sending me emails about this conversation</a>
                </div>
                <div class="notification-link">
                  <a href="">Adjust my account notification preferences</a>
                </div>                
              </center>
            </td>
            <td class="expander"></td>
          </tr>
        </table>

      </td></tr>
    </table> 
  </td></tr>
</table>    


<%- include('../../include/logo-footer', { email: email }) %>
<%- include('../../include/footer', { email: email }) %>
